body{
    background-color: rgb(28, 28, 29);
    color: rgb(229, 230, 190);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    /* font-size: 20px; */

}
.logo{
    font-size: 30px;
    color: rgb(229, 230, 190);
    margin: 10px 80px;

}
nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
    margin-top: 10px;
    margin-right: 10rem;
    /* margin-left: auto; */
}
nav ul > button a{
    text-decoration:none;
    color:rgb(229, 230, 190);
}
.button{
    padding: 10px 20px;
    background-color: rgb(28, 28, 29);
    border: 2px solid rgb(229, 230, 190);
    color: rgb(229, 230, 190);
    cursor: pointer;
    border-radius:10px
 
    text-size: 20px;
    
}
/* .button:hover{
    background-color: rgb(229, 230, 190);
    color: rgb(28, 28, 29);
} */


.about-main{
    display:flex;
    background-color:black;
    border-radius: 40px;
}

.about-banner-left{
    /* display:flex; */
    margin: 5rem 5rem;
    font-size: 20px;
}

.about-banner-right img{
    /* display:flex; */
    width: 450px;
    height: 400px;
    margin-top: 2rem;
    border-radius: 40px;
}

.text{
    text-align: center;
    text-decoration: #FFF2C6;
    font-size: 40px;
    color: rgb(229, 230, 190);

}

.guest{
    margin: 3rem;
    font-size: 20px;
    /* background-image: url('/images/test-bg.jpg'); */
    /* height: 800px; */
    border-radius: 40px;
    
}

.guest-1{
    display:flex;
    align-items:center;
    margin-bottom: 3rem;
    gap: 5rem;
    border-radius:120px;
    background-color:#FFF2C6;
    color:black;
}
.guest-1 img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.guest-3{
    margin-top: 3rem;
    display:flex;
    align-items:center;
    margin-bottom: 3rem;
    gap: 5rem;
    border-radius:120px;
    background-color:#FFF2C6;
    color:black;
}
.guest-3 img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.guest-2{
    display:flex;
    gap: 5rem;
    align-items:center;
    border-radius:120px;
    background-color:#FFF2C6;
    color:black;
}
.guest-2 img{
    width: 100px;
    height: 100px;
    border-radius: 50%;

}

.guest-4{
    margin-top: 3rem;
    display:flex;
    align-items:center;
    margin-bottom: 3rem;
    gap: 5rem;
    border-radius:120px;
    background-color:#FFF2C6;
    color:black;
}
.guest-4 img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.guest-5{
    margin-top: 3rem;
    display:flex;
    align-items:center;
    margin-bottom: 3rem;
    gap: 5rem;
    border-radius:120px;
    background-color:#FFF2C6;
    color:black;
}
.guest-5 img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}









/* Footer */

.footer{
    /* position:Fixed; */
    position: sticky;
    display:flex;
    text-align:center;
    justify-content:space-between;
  
}
.footerLogo{
    /* position:Fixed; */
    position: sticky;
    display:flex;
    gap:30px;
    margin-right: 5rem;
}