body{
    background-color: rgb(28, 28, 29);
    color: rgb(229, 230, 190);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    /* font-size: 20px; */

}
.logo{
    font-size: 30px;
    color: rgb(229, 230, 190);
    margin: 10px 80px;

}
nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
    margin-top: 10px;
    margin-right: 10rem;
    /* margin-left: auto; */
}
.button{
    padding: 10px 20px;
    background-color: rgb(28, 28, 29);
    border: 2px solid rgb(229, 230, 190);
    color: rgb(229, 230, 190);
    cursor: pointer;
    border-radius:10px
 
    text-size: 20px;
    
}
nav ul > button a{
    text-decoration:none;
    color:rgb(229, 230, 190);
}
/* .button:hover{
    background-color: rgb(229, 230, 190);
    color: rgb(28, 28, 29);
} */

/* heading */

.heading{
    margin-left: 10rem;
    margin-bottom: 3rem;
}

.contact{
    margin-left:10rem;
    margin-top:2rem;
}
.name{
    padding: 10px;
    width: 30rem;
    margin-top:10px;
    border-radius: 10px;
    background-color: rgb(28, 28, 29);
    border: 2px solid rgb(229, 230, 190);
    color: rgb(229, 230, 190);
}

.btn{
    margin-left:10rem;
    margin-top:1rem;
    margin-bottom:1rem;
    padding: 10px 20px;
    color: rgb(28, 28, 29);
     background-color: rgb(229, 230, 190);
    border: 2px solid rgb(229, 230, 190);
    /* color: rgb(229, 230, 190); */
    cursor: pointer;
    border-radius:10px
}

.btn:hover{
    background-color: rgb(229, 230, 190);
    color: rgb(28, 28, 29);
}


/* Call */

.call {
    display:flex;
    text-align:center;
    justify-content:space-between;
    margin-left:10rem;
    margin-right:10rem;
    margin-top:3rem;
    /* background-color: black; */
    color:#fff;
    border-radius: 10px;
}




/* Footer */

.footer{
    /* position:Fixed; */
    position: sticky;
    display:flex;
    text-align:center;
    justify-content:space-between;
  
}
.footerLogo{
    /* position:Fixed; */
    position: sticky;
    display:flex;
    gap:30px;
    margin-right: 5rem;
}