body{
    background-color: rgb(28, 28, 29);
    color: rgb(229, 230, 190);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    /* font-size: 20px; */
}

.logo{
    font-size: 30px;
    color: rgb(229, 230, 190);
    margin: 10px 80px;

}
 nav ul{
    /* list-style: none;  */
    display: flex;
    gap: 20px;
    margin-top: 10px;
    margin-right: 10rem; 
     /* margin-left: auto; */
}
button a{
    text-decoration:none;
    color:rgb(229, 230, 190);
}
/* .button:hover {
    background-color: rgb(229, 230, 190) !important;
    color: rgba(22, 22, 241, 1) !important;
} */

.button{
    padding: 10px 20px;
    background-color: rgb(28, 28, 29);
    border: 2px solid rgb(229, 230, 190);
    color: rgb(229, 230, 190);
    cursor: pointer;
    border-radius:10px
    text-size: 20px;
    
} 





/* Main Content */

main{
    position: relative;
    text-align:center;
}
.centered {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px;
  color: rgb(229, 230, 190);

}

.banner{
    width: 33%;
    height: 400px;
    object-fit: cover; 
    /* filter: blur(1px) */
}
.cta{
   position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: transparent;
    border: 2px solid rgb(229, 230, 190);
    color: rgb(229, 230, 190);
  font-size: 16px;
  padding: 12px 24px;
  /* border: none; */
  cursor: pointer;
  border-radius: 5px;
}
/* .cta:hover{
    background-color: rgb(229, 230, 190);
    color: rgb(28, 28, 29);
} */

.text{
    text-align: center;
    text-decoration: dotted #FFF2C6;;
    font-size: 40px;
    color: rgb(229, 230, 190);

}

.testimonials {
    display: flex;
    gap: 20px;
    margin-left: 5rem;
    margin-right: 5rem;
    color: black;
}

.testimonials > div {
    background-color: #FFF8DE;
    border-radius: 10px;
    width: 20%;
    padding: 20px;         
    text-align: center;    
    display: flex;
    /* font-size: 10px; */
    flex-direction: column;
    justify-content: center;
    height: auto; 
    margin-bottom:20px;       
}
.testimonials > div:hover{
    color: #628141;
    background-color:black;
}
.second, .fourth {
    background-color: #e6dbbaff;

}


/* FOoter */

.footer{
    /* position:Fixed; */
    position: sticky;
    display:flex;
    text-align:center;
    justify-content:space-between;
  
}
.footerLogo{
    /* position:Fixed; */
    position: sticky;
    display:flex;
    gap:30px;
    margin-right: 5rem;
}